@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.raw_content ol,
.raw_content ul {
  list-style: inside;
}

.raw_content ul {
  margin-left: 16px;
}

.raw_content ol {
  list-style-type: decimal;
  list-style-position: inside;
}
